* {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    margin: 0;
    padding: 0;
    height: 50px;
    background: #000;
    width: 100%;
}

.header .logo {
    margin: 10px 10px;
    width: 30%;
    float: left;
}

.header .logo .title {
    margin: 20px 10px;
    font-size: 30px;
}

.header .search {
    position: relative;
    float:left;
}

.header .search input {
    margin: 10px;
    width: 250px;
    height: 25px;
}

.header .list-link {
    margin: 10px 0 0 0;
    padding: 0;
    float: left;
}

.header .list-link ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header .list-link ul li {
    margin: 0;
    padding: 10px 10px;
    float: left;
}

.header .list-link ul li a {
    text-decoration: none;
    color: #fff;
}

.header .link-login {
    margin: 0;
    padding: 0;
}

.header .link-login a {
    text-decoration: none;
    color: #fff;
}

.body {
    margin: 0;
    padding: 0;
}

.body .menu {
    height: 50px;
    list-style: none;
    background: #dfdfdf;
}

.body .menu li {
    margin: 15px 20px;
    float: left;
}

.body .menu li a {
    text-decoration: none;
    color: #000;
}

.clear {
    clear: both;
}

@media only screen and (max-width: 768px) {
    body {
        background: red;
    }
}